body {
    background-image: url("flowers.jpg");
}

nav {
    border-bottom: 1px solid black;
}

ul {
    list-style-type: none;
}

h1 {
    text-align: center;
    font-size: 75px;
    margin: 60px 0 0 0;
}

h2 {
    text-align: center;
    margin: 25px 0 70px 0;
}

div {
    height: 200px;
    background-size: cover;
    position: relative;
    margin: 40px 0 0 0;
    border-radius: 12px;
}

p {
    color: rgba(255,255,255,1);
    background: black;
    background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    padding: 10px;
    line-height: 28px;
    text-align: justify;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 30px;
}

.breakfast {
    background-image: url("pancakes.jpg");
}

.lunch {
    background-image: url("food.jpg");
}

.dinner {
    background-image: url("fruits.jpg");
}

#about {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 500px) {
    div {
        margin: 20px 12px 0 12px;
    }

    p {
        font-size: 20px;
        line-height: 24px;
    }
    small {
        font-size: 16px;
    }
}